<h1>This is <%= @kitty.name %> </h1>

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @kitty.name %></th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td>Age</td>
            <td><%= @kitty.age %></td>
        </tr>
        <tr>
            <td>Birth_Date</td>
            <td><%= @kitty.birth_date %></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @kitty.color %></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @kitty.sex %></td>
        </tr>
    </tbody>
</table>